<form method="POST" name="object-list" id="object-list">
  {% csrf_token %}
  <input type="hidden" value="{{ page }}" name="page" />
  <table class="table is-bordered is-striped is-hoverable is-fullwidth">
    <thead>
        <tr>
          <th>
            <input type="checkbox" class="selectAll" />
          </th>
          {% for column in view_config.column_list %}
              {% if column.abbreviation %}
                  <th><abbr title="{{ column.title }}">{{ column.abbreviation }}</abbr></th>
              {% else %}
                <th>{{ column.title }}</th>
              {% endif %}
          {% endfor %}
          {% if view_config.column_list.action_list %}
              <th>Actions</th>
          {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for result in view_config.result_list %}
        <tr>
          <td>
            <input type="checkbox" name="{{ result.unique_id }}" />
          </td>
          {% for field in result.field_list %}
              {% if field.widget == 'progress' %}
                <td>
                  <progress class="progress is-primary" value="{{ field.value }}" max="100">{{ field.value }}%</progress>
                </td>
              {% elif field.widget == 'link' %}
                <td>
                    <a href="{{ field.url }}">{{ field.value }}</a>
                </td>
              {% else %}
                <td>{{ field.value }}</td>
              {% endif %}
          {% endfor %}
          <td>
              {% for action in result.action_list %}
                <a class="button {{ action.class }}" href="{{ action.url }}">
                  <span class="icon">
                      <i class="fas fa-{{ action.icon }}"></i>
                  </span><span>{{ action.name }}</span>
                </a>
              {% endfor %}
          </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</form>
<br />
{% include "generic_ui/paginator.html" %}
