{% extends 'generic_ui/base.html' %}

{% block header_left %}
    {% include "generic_ui/listview_left.html" with title=view_config.title %}
{% endblock %}

{% block header_right %}
  <div class="level-item bulk-action">
    <div class="field has-addons">
      <p class="control">
        <button class="button is-primary is-outlined" type="submit" form="object-list" name="duplicate" value="yes">
          <span class="icon is-small">
            <i class="fas fa-copy"></i>
          </span>
          <small>Duplicate</small>
        </button>
      </p>
    </div>
  </div>

  <div class="level-item bulk-action">
    <div class="field has-addons">
      <p class="control">
        <button class="button is-danger is-outlined" type="submit" form="object-list" name="remove" value="yes">
          <span class="icon is-small">
            <i class="fas fa-minus"></i>
          </span>
          <small>Remove</small>
        </button>
      </p>
    </div>
  </div>

  <div class="level-item">
    <div class="field has-addons">
      <p class="control">
        <a class="button is-link" href="{{  view_config.urls.add_url }}?next={{ encoded_url }}">
          <span class="icon is-small">
            <i class="fas fa-plus"></i>
          </span>
          <small>Create</small>
        </a>
      </p>
    </div>
  </div>
{% endblock %}

{% block content %}
  {% include "generic_ui/children_list.html" %}
{% endblock %}
