{% extends "account/base.html" %}
{% load static i18n account forms_tags %}

{% block page_title %}
  {% translate "Reset Your Password" %}
{% endblock %}

{% block main_content %}
  <h1 class="mt-title">{% translate "Password Reset" %}</h1>
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}
  <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% render_field form.email %}
    <div class="mt-2">
      <input class="mt-button-secondary" type="submit" value="{% translate 'Send me a Password Reset link by email' %}">
    </div>
  </form>
{% endblock %}
