{% extends "apps/base.html" %}
{% load static i18n  account issues_tags %}

{% block page_title %}
  {% translate "Change Password" %}
{% endblock %}

{% block app_content_content %}
<div id="page-content" hx-target="#page-content">
  {% partialdef page-content inline %}
  <section class="app-card mt-form-page">
    <h1 class="mt-subtitle">{% translate "Change Password" %}</h1>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% render_field form.oldpassword %}
      {% render_field form.password1 %}
      {% render_field form.password2 %}
      <dev class="mt-columns mt-columns-2 mt-2">
        <div class="mt-column">
          <input class="mt-button-primary" type="submit" value="{% translate 'Change Password' %}">
        </div>
        <div class="mt-column">
          <a class="mt-link" href="{% url 'account_reset_password' %}">{% trans "Forgot password instead?" %}</a>
        </div>
    </form>
  </section>
  {% endpartialdef page-content %}
</div>
{% endblock %}
