Django==2.2.1
django-comments-xtd==2.4.0
django-simple-history==2.7.2
django-environ==0.4.5
django-admin-list-filter-dropdown==1.0.2
django-tagulous==0.14.0
django-taggit==1.1.0
psycopg2-binary==2.8.2
