{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block extra_head %}
      <meta name="turbolinks-cache-control" content="no-cache">
    {% endblock %}
    <title>{% block page_title %}{{ current_site.name }} - Simple Project Management System{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bulma-0.7.4.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bulma-calendar.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bulma-tagsinput.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bulma-checkradio.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <style>
      nav div.level-item.bulk-action { visibility: hidden; }
    </style>
    <script defer src="{% static 'js/turbolinks.js' %}"></script>
    <script defer src="{% static 'js/fetch.js' %}"></script>
  </head>
  <body>
    {% if user.is_authenticated %}
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation" data-turbolinks-permanent>
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <h1 class="title has-text-white-bis">
              {{ current_site.name }}
            </h1>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{% url 'sprints:sprint-list' current_workspace %}">
            Sprints
          </a>

          <a class="navbar-item" href="{% url 'stories:epic-list' current_workspace %}">
            Epics
          </a>

          <a class="navbar-item" href="{% url 'stories:story-list' current_workspace %}">
            Stories
          </a>

          <a class="navbar-item" href="{% url 'workspaces:workspace-list' current_workspace %}">
            Workspaces
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="https://github.com/matagus/matorral" target="_blank">
                Code
              </a>
              <a class="navbar-item" href="https://github.com/matagus/matorral/issues" target="_blank">
                Report an issue
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="level-right">
            <div class="navbar-item">
              <div class="buttons">
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link" href="#">
                    {{ user.username }}
                  </a>

                  <div class="navbar-dropdown">
                    {% if user.is_staff %}
                    <a class="navbar-item" href="{% url 'admin:index' %}" target="_blank">
                      Admin
                    </a>
                    {% endif %}
                    <a href="{% url 'logout' %}" class="navbar-item">
                      Logout
                    </a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    {% endif %}

    <section class="section">
      {% if messages %}
        {% for message in messages %}
        <div class="notification is-primary {% if message.tags %}{{ message.tags }}{% endif %}">
          <button class="delete"></button>
          <p>{{ message }}</p>
        </div>
        {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock %}
    </section>

    <div class="modal" id="modal-form">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Modal title</p>
          <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <iframe src="" style="width: 100%;">
          </iframe>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-link">Save changes</button>
          <button class="button">Cancel</button>
        </footer>
      </div>
    </div
>
    <footer class="footer" data-turbolinks-permanent>
      <div class="content has-text-centered">
        <p>
          <strong>Matorral</strong> by <a target="_blank" href="https://github.com/matagus">matagus</a>.
        <p>
          This website has been built in a few weekends thanks to <a target="_blank" href="https://bulma.io/">Bulma</a> &amp; <a target="_blank" href="https://www.djangoproject.com/">Django</a>.
        </p>
      </div>
    </footer>
  </body>

  <script defer src="{% static 'js/bulma-calendar.min.js' %}" data-mutate-approach="sync"></script>
  <script defer src="{% static 'js/bulma-tagsinput.min.js' %}" data-mutate-approach="sync"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" data-mutate-approach="sync"></script>
  <script>
    function ready(fn) {
      if (document.attachEvent ? document.readyState === "complete" : document.readyState !== "loading"){
        fn();
      } else {
        document.addEventListener('DOMContentLoaded', fn);
      }
    }

    ready(function() {
      var elementList = document.querySelectorAll('a.launch-modal');
      Array.prototype.forEach.call(elementList, function(el, i) {
        el.addEventListener('click', function(event) {
          event.preventDefault()

          var modalFormTitle = document.querySelector('#modal-form .modal-card-title');
          modalFormTitle.innerHTML = event.target.textContent;

          var modalForm = document.querySelector('#modal-form');
          modalForm.querySelector('iframe').setAttribute('src', event.target.parentNode.getAttribute('href'));
          modalForm.classList.add('is-clipped');
          modalForm.classList.add('is-active');
        });
      });

      var elementList = document.querySelectorAll('#modal-form button');
      Array.prototype.forEach.call(elementList, function(el, i) {
        el.addEventListener('click', function(event) {
          var modalForm = document.querySelector('#modal-form');
          modalForm.classList.remove('is-active');
          modalForm.classList.remove('is-clipped');
        });
      });

      (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
        $notification = $delete.parentNode;
        $delete.addEventListener('click', () => {
          $notification.parentNode.removeChild($notification);
        });
      });

      bulmaTagsinput.attach('[data-tagulous="true"]');
      bulmaCalendar.attach('#id_starts_at', {type: 'date'});
      bulmaCalendar.attach('#id_ends_at', {type: 'date'});

      document.querySelectorAll('input[type="checkbox"].selectAll').forEach((selectAll) => {
        selectAll.addEventListener('click', function(event) {
          table = event.target.parentNode.parentNode.parentNode.parentNode;
          table.querySelectorAll('tbody input[type="checkbox"]').forEach(($checkbox) => {
            if (event.target.checked) {
              $checkbox.checked = true;
              document.querySelectorAll('.bulk-action').forEach(($div) => {
                $div.style.visibility = 'visible'
              });
            } else {
              $checkbox.checked = false;
              document.querySelectorAll('.bulk-action').forEach(($div) => {
                $div.style.visibility = 'hidden'
              });
            }
          })
        });
      });

      document.querySelectorAll('input[type="checkbox"]').forEach(($checkbox) => {
        $checkbox.addEventListener('click', function(event) {
          if (document.querySelectorAll('input[type="checkbox"]:checked').length > 0) {
            document.querySelectorAll('.bulk-action').forEach(($div) => {
              $div.style.visibility = 'visible'
            });
          } else {
            document.querySelectorAll('.bulk-action').forEach(($div) => {
              $div.style.visibility = 'hidden'
            });
          }
        })
      });

      window.postForm = function(form, button) {
        var formData = new FormData(form);

        if (button) {
          formData.append(button.name, button.value);
        } else {
          if (form.id) {
            document.querySelectorAll('select[form=' + form.id + ']').forEach(($select) => {
              formData.append($select.name, $select.value);
            });
          }
        }

        var object = {};
        formData.forEach((value, key) => {
            // Reflect.has in favor of: object.hasOwnProperty(key)
            if(!Reflect.has(object, key)){
                object[key] = value;
                return;
            }
            if(!Array.isArray(object[key])){
                object[key] = [object[key]];
            }
            object[key].push(value);
        });
        var jsonParams = JSON.stringify(object);

        fetch(document.location.href, {
          method: 'POST',
          headers: {
            'X-Fetch': 'true',
            'X-CSRFToken': formData.get('csrfmiddlewaretoken'),
            'Content-Type': 'application/json'
          },
          body: jsonParams
        }).then(function(data) {
          return data.json();
        }).then(function(jsonResponse) {
          Turbolinks.visit(jsonResponse.url, { action: "replace" });
        }).catch(function(error) {
          console.log('request failed', error)
        })
      };

      document.querySelectorAll('button[data-next]').forEach(($button) => {
        $button.addEventListener('click', function(event) {
          $button.form.querySelector('#next').value = $button.dataset.next;
        });
      });

      document.querySelectorAll('div.bulk-action button[type="submit"]').forEach(($button) => {
        $button.addEventListener('click', function(event) {
          event.preventDefault();
          let clickedElement = event.target;
          if (clickedElement.tagName != 'BUTTON') {
            clickedElement = clickedElement.parentNode;
          }
          postForm(clickedElement.form, clickedElement);
        });
      });

      document.querySelectorAll('form').forEach(($form) => {
        if (!$form.hasAttribute('data-nofetch')) {
          $form.addEventListener('submit', function(event) {
            event.preventDefault();
            if (event.target.method.toLowerCase() == 'get') {
              let params = new URLSearchParams();
              params.append('q', document.querySelector('#id_q').value);

              const url = new URL(document.URL);
              let to = url.searchParams.get('to-epic');
              if (to) params.append('to-epic', to);
              to = url.searchParams.get('to-sprint');
              if (to) params.append('to-sprint', to);

              Turbolinks.visit(document.location.pathname + "?" + params.toString());
            } else {
              postForm(event.target);
            }
          });
        }
      })
    });
  </script>
</html>
