{% extends "apps/base.html" %}
{% load i18n %}
{% block app_content_content %}
<div id="page-content" hx-target="#page-content">
  {% partialdef page-content inline %}
  <div class="app-card mt-form-page">
    <div class="flex justify-between items-center mb-4">
      <h3 class="mt-subtitle mb-0">{% translate "My Workspaces" %}</h3>
      <label for="create-workspace-modal-toggle" class="btn btn-primary btn-sm modal-button">
        <i class="fa fa-plus mr-1"></i> {% translate "New Workspace" %}
      </label>
    </div>
    {% if workspaces %}
      <div class="table-responsive">
        <table class="table mt-table">
          <thead>
          <tr>
            <th>{% translate "Name" %}</th>
            <th/>
            <th/>
          </tr>
          </thead>
          <tbody>
          {% for workspace in workspaces %}
            <tr>
              <td>{{ workspace.name }}</td>
              <td>
                <!-- DO NOT USE HTMx GET here, we need a full-page reload to update the sidebar menu items to point to the new workspace -->
                <a class="link" href="{{ workspace.get_absolute_url }}">{% translate "View Workspace" %}</a>
              </td>
              <td class="mt-inline-buttons mt-justify-content-end">
                <a class="mt-button-secondary mx-1"
                   href="{% url 'workspaces:manage_workspace' workspace.slug %}"
                   hx-get="{% url 'workspaces:manage_workspace' workspace.slug %}"
                   hx-push-url="true"
                   hx-target="#page-content">
                  <span class="mt-icon">
                    <i class="fa fa-gear"></i>
                  </span>
                  <span class="mt-hidden-mobile-inline">{% translate "Settings" %}</span>
                </a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <div>
        <div>
          <h1 class="mt-title">{% translate "No Workspaces Yet!" %}</h1>
          <h2 class="mt-subtitle">{% translate "You don't have any workspaces yet." %}</h2>
        </div>
      </div>
    {% endif %}
  </div>
  {% include 'workspaces/includes/create_workspace_modal.html' %}
  {% endpartialdef page-content %}
</div>
{% endblock %}
