{% extends "base.html" %}

{% block content %}
  <nav class="level">
    {% include "listview-left.html" %}

    <!-- Right side -->
    <div class="level-right">
      {% if add_to == 'sprint' %}
        <div class="level-item bulk-action">
          <div class="field has-addons">
            <div class="control">
              <button class="button is-link is-outlined" title="Add selected stories to: {{ add_to_object.title }}"
                      form="object-list" type="submit" name="add-to-sprint" value="{{ add_to_object.id }}">
                <span class="icon is-small">
                  <i class="fas fa-calendar-plus"></i>
                </span>
                <small>Add to Sprint</small>
              </button>
            </div>
            <div class="control">
              <a class="button is-link" title="Finish adding stories to: {{ add_to_object.title }}"
                 href="{% url 'sprints:sprint-detail' add_to_object.id %}">
                <span class="icon is-small">
                  <i class="fas fa-window-close"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      {% endif %}

      {% if add_to == 'epic' %}
        <div class="level-item bulk-action">
          <div class="field has-addons">
            <div class="control">
              <button class="button is-link is-outlined" title="Add selected stories to: {{ add_to_object.title }}"
                      form="object-list" type="submit" name="add-to-epic" value="{{ add_to_object.id }}">
                <span class="icon is-small">
                  <i class="fas fa-plus-circle"></i>
                </span>
                <small>Add to Epic</small>
              </button>
            </div>
            <div class="control">
              <a class="button is-link" title="Finish adding stories to: {{ add_to_object.title }}"
                 href="{% url 'stories:epic-detail' add_to_object.id %}">
                <span class="icon is-small">
                  <i class="fas fa-window-close"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      {% endif %}

      {% for field in filters_form.visible_fields %}
        <div class="level-item bulk-action">
          <div class="field">
            <div class="control">
              <div class="select is-primary">
                {{ field }}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

      <div class="level-item">
        &nbsp;
      </div>

      <div class="level-item bulk-action">
        <div class="field has-addons">
          <p class="control">
            <button class="button is-link is-outlined" form="object-list" type="submit" name="duplicate" value="yes">
              <span class="icon is-small">
                <i class="fas fa-copy"></i>
              </span>
              <small>Duplicate</small>
            </button>
          </p>
        </div>
      </div>

      <div class="level-item bulk-action">
        <div class="field has-addons">
          <p class="control">
            <button class="button is-danger is-outlined" form="object-list" type="submit" name="remove" value="yes">
              <span class="icon is-small">
                <i class="fas fa-minus"></i>
              </span>
              <small>Remove</small>
            </button>
          </p>
        </div>
      </div>

      <div class="level-item">
        <div class="field has-addons">
          <p class="control">
            <a class="button is-link" href="{% block object_add_url %}{% endblock %}?next={{ encoded_url }}">
              <span class="icon is-small">
                <i class="fas fa-plus"></i>
              </span>
              <small>Create</small>
            </a>
          </p>
        </div>
      </div>
    </div>
  </nav>

  <form method="POST" name="object-list" id="object-list">
    {% csrf_token %}
    <input type="hidden" value="{{ page }}" name="page" />
    <table class="table is-bordered is-striped is-hoverable is-fullwidth">
      <thead>
        {% block table_head_content %}
        {% endblock %}
      </thead>
      <tbody>
        {% block table_body_content %}
        {% endblock %}
      </tbody>
    </table>
  </form>
  <br/>
  {% include "paginator.html" %}
{% endblock %}
