{% extends 'base.html' %}

{% block object_list_url %}{% url 'stories:epic-list' %}{% endblock %}

{% block content %}
	<nav class="level">
		<!-- Left side -->
		<div class="level-left">
			<nav class="breadcrumb is-large" aria-label="breadcrumbs">
				<ul>
          <li><a href="{% url 'stories:epic-list' %}">Epics</a></li>
          <li class="is-active">
            <a href="#" aria-current="page">
              {{ object.title }}
            </a>
          </li>
				</ul>
			</nav>
		</div>

		<!-- Right side -->
		<div class="level-right">
			<div class="level-item">
        <a href="{% url 'stories:epic-edit' epic.id %}?next={{ encoded_url }}" class="button is-primary">
          <span class="icon is-small">
            <i class="fas fa-edit"></i>
          </span>
          <small>Edit</small>
				</a>
			</div>

			<div class="level-item">
				<div class="field has-addons">
					<p class="control">
            <form method="POST">
              {% csrf_token %}
              <button class="button is-danger is-outlined" type="submit" name="remove" value="yes"
                      onclick="postForm(this.form, this); return false;">
                <span class="icon is-small">
                  <i class="fas fa-minus"></i>
                </span>
                <small>Remove</small>
              </button>
            </form>
					</p>
				</div>
			</div>

		</div>
	</nav>

	<div class="card">
		<div class="card-content">
			<div class="media">
				<div class="media-content">
					<p class="title is-4">{{ epic.title }}</p>
					<p class="subtitle is-6">@{{ epic.owner }}</p>
				</div>
			</div>

			<div class="content">
				{{ epic.description|default:'' }}<br/><br/>
				<div class="field is-grouped is-grouped-multiline">
					<div class="control">
						<div class="tags has-addons">
							<span class="tag">State</span>
							<span class="tag is-primary">{{ epic.state }}</span>
						</div>
					</div>
					<div class="control">
						<div class="tags has-addons">
							<span class="tag">Priority</span>
							<span class="tag is-link">{{ epic.priority }}</span>
						</div>
					</div>
					{% for tag in epic.tags.all %}
					<div class="control">
						<div class="tags has-addons">
							<span class="tag is-dark">#</span>
							<span class="tag is-light">{{ tag.name }}</span>
						</div>
					</div>
					{% endfor %}
				</div>
				<strong>Progress:</strong>
				<br/>
				<br/>
				<progress class="progress is-primary" value="{{ epic.progress }}" max="100">{{ epic.progress }}%</progress>
				<strong>Last Update:</strong> <time datetime="{{ epic.updated_at }}">{{ epic.updated_at }}</time>
			</div>
		</div>
	</div>

  <br/>
	<nav class="level">
		<!-- Left side -->
		<div class="level-left">
			<nav class="breadcrumb is-large" aria-label="breadcrumbs" style="margin: 0; padding: 0;">
				<ul>
					<li class="is-active"><a href="#" aria-current="page">Stories</a></li>
				</ul>
			</nav>

			<div class="level-item">
				<form method="GET">
        {% for field in group_by_form.visible_fields %}
          <div class="level-item">
            <label>{{ field.label }}</label>&nbsp;
            <div class="field">
              {{ field }}
            </div>
          </div>
        {% endfor %}
				</form>
			</div>
		</div>

		<!-- Right side -->
		<div class="level-right">
      {% for field in filters_form.visible_fields %}
        <div class="level-item bulk-action">
          <div class="field">
            <div class="control">
              <div class="select is-primary">
                {{ field }}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
			<div class="level-item bulk-action">
				<div class="field has-addons">
					<p class="control">
            <button class="button is-danger is-outlined" form="object-list" type="submit" value="yes" name="epic-reset"
                  onclick="postForm(this.form, this); return false;">
              <span class="icon is-small">
                <i class="fas fa-minus"></i>
              </span>
              <small>Remove from Epic</small>
						</button>
					</p>
				</div>
			</div>

			<div class="level-item">
				<div class="field has-addons">
					<p class="control">
            <a class="button is-primary" href="{% url 'stories:story-add' %}?next={{ encoded_url }}&amp;epic={{ epic.id }}">
              <span class="icon is-small">
                <i class="fas fa-plus"></i>
              </span>
              <small>Create</small>
						</a>
					</p>
				</div>
			</div>

      <div class="level-item">
				<div class="field has-addons">
					<p class="control">
            <a class="button is-primary is-outlined" href="{% block object_add_url3 %}{% endblock %}?next={{ encoded_url }}&amp;epic={{ epic.id }}">
              <span class="icon is-small">
                <i class="fas fa-search"></i>
              </span>
              <small>Add Existing</small>
						</a>
					</p>
				</div>
			</div>

		</div>
	</nav>

  <form method="POST" id="object-list">
    {% csrf_token %}
    {% for group_title, object_list in objects_by_group %}
      {% if group_by %}
        <h3 class="subtitle">{{ group_title }}</h3>
      {% endif %}

			<table class="table is-bordered is-striped is-hoverable is-fullwidth">
				<thead>
					<tr>
						<th>
							<input type="checkbox" name="select-all" />
						</th>
						<th><abbr title="Identification Number">ID</abbr></th>
						<th>Title</th>
						<th>State</th>
						<th>Priority</th>
						<th><abbr title="Points">Pts</abbr></th>
						<th>Requester</th>
						<th>Assignee</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for story in object_list %}
					<tr {% if story.is_done %}class="has-text-grey-dark"{% endif %}>
						<td>
							<input type="checkbox" name="story-{{ story.id }}" />
						</td>
						<td>#{{ story.id }}</td>
						<td>
							<a href="{% url 'stories:story-detail' story.id %}?next={{ encoded_url }}" {% if story.is_done %}class="has-text-grey-dark"{% endif %}>
								<strong>{{ story.title }}</strong><br/>
							</a>
							{% for tag in story.tags.all %}
							<span class="tag is-light">{{ tag.name }}</span>
							{% endfor %}
						</td>
						<td>{{ story.state }}</td>
						<td>{{ story.priority }}</td>
						<td>{{ story.points }}</td>
						<td>{{ story.requester.username }}</td>
						<td>{{ story.assignee.username }}</td>
						<td>
							<a class="button is-small is-link is-outlined" href="{% url 'stories:story-edit' story.id %}?next={{ encoded_url }}" title="Edit">
								<span class="icon is-small">
									<i class="fas fa-edit"></i>
								</span>
								<small>edit</small>
							</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endfor %}
  </form>

{% endblock %}
