{% load i18n %}
{# Display mode for an orphan work item (no parent epic) on project detail #}
<tr class="has-[:checked]:bg-base-200 group">
  <td>
    <input type="checkbox"
           class="checkbox checkbox-sm"
           name="epics"
           value="{{ item.key }}"
           @change="selectedCount = document.querySelectorAll('#epics-embed [name=epics]:checked').length;">
  </td>
  <td>
    <a href="{{ item.get_absolute_url }}"
       hx-get="{{ item.get_absolute_url }}"
       hx-target="#page-content"
       hx-push-url="true"
       class="font-mono font-semibold">
      {{ item.key }}
    </a>
  </td>
  <td class="group">
    <div class="flex items-center gap-2">
      {% include "issues/includes/issue_type_badge.html" with issue=item %}
      <a href="{{ item.get_absolute_url }}"
         hx-get="{{ item.get_absolute_url }}"
         hx-target="#page-content"
         hx-push-url="true"
         class="link link-hover flex-1">
        {{ item.title }}
      </a>
      <a href="#"
         class="invisible group-hover:visible text-xs link link-primary whitespace-nowrap"
         hx-get="{% url 'issues:issue_inline_edit' workspace.slug item.project.key item.key %}?embed=project_orphan"
         hx-target="closest tr"
         hx-swap="outerHTML"
         @click.prevent>
        [{% translate "Edit" %}]
      </a>
    </div>
  </td>
  <td class="editable cursor-pointer"
      hx-get="{% url 'issues:issue_inline_edit' workspace.slug item.project.key item.key %}?embed=project_orphan"
      hx-target="closest tr"
      hx-swap="outerHTML">
    {% include "issues/includes/issue_status_badge.html" with status=item.status status_display=item.get_status_display %}
  </td>
  <td class="editable cursor-pointer"
      hx-get="{% url 'issues:issue_inline_edit' workspace.slug item.project.key item.key %}?embed=project_orphan"
      hx-target="closest tr"
      hx-swap="outerHTML">
    {% if item.priority %}
      {% include "issues/includes/issue_priority_badge.html" with priority=item.priority priority_display=item.get_priority_display %}
    {% else %}
      <span class="text-base-content/40">-</span>
    {% endif %}
  </td>
  <td class="editable cursor-pointer"
      hx-get="{% url 'issues:issue_inline_edit' workspace.slug item.project.key item.key %}?embed=project_orphan"
      hx-target="closest tr"
      hx-swap="outerHTML">
    {{ item.assignee.get_display_name|default:"-" }}
  </td>
  <td>
    <div class="dropdown dropdown-end dropdown-left">
      <div tabindex="0" role="button" class="btn btn-sm btn-ghost btn-square tooltip tooltip-left" data-tip="{% translate "Actions" %}">
        <i class="fa fa-ellipsis-vertical"></i>
      </div>
      <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-10 w-40 p-2 shadow">
        <li>
          <button type="button"
                  hx-get="{{ item.get_absolute_url }}?quick_view=1"
                  hx-target="#quick-view-modal-content"
                  hx-swap="innerHTML"
                  @click="showQuickViewModal = true; document.activeElement.blur()">
            <i class="fa fa-eye"></i> {% translate "Quick View" %}
          </button>
        </li>
        <li>
          <button type="button"
                  hx-get="{% url 'issues:issue_update' workspace.slug item.project.key item.key %}?project={{ item.project.key }}&modal=1"
                  hx-target="#edit-modal-content"
                  hx-swap="innerHTML"
                  @click="showEditModal = true; document.activeElement.blur()">
            <i class="fa fa-pencil"></i> {% translate "Edit" %}
          </button>
        </li>
        <li>
          <button type="button"
                  @click="actionModalType = 'clone'; actionModalTitle = '{% translate "Clone Issue" %}'; actionModalMessage = '{% translate "Are you sure you want to clone this issue?" %}'; actionModalConfirmText = '{% translate "Clone" %}'; actionModalUrl = '{% url 'issues:issue_clone' workspace.slug item.project.key item.key %}'; showActionModal = true; document.activeElement.blur()">
            <i class="fa fa-clone"></i> {% translate "Clone" %}
          </button>
        </li>
        <li>
          <button type="button"
                  hx-get="{% url 'issues:issue_convert' workspace.slug item.project.key item.key %}?source=embed"
                  hx-target="#convert-modal-content"
                  hx-swap="innerHTML"
                  @click="showConvertModal = true; document.activeElement.blur()">
            <i class="fa fa-exchange"></i> {% translate "Convert" %}
          </button>
        </li>
        <li>
          <button type="button"
                  hx-get="{% url 'issues:issue_promote' workspace.slug item.project.key item.key %}?source=embed"
                  hx-target="#promote-modal-content"
                  hx-swap="innerHTML"
                  @click="showPromoteModal = true; document.activeElement.blur()">
            <i class="fa fa-arrow-up"></i> {% translate "Promote to Epic" %}
          </button>
        </li>
        <li>
          <button type="button"
                  hx-get="{% url 'issues:issue_move' workspace.slug item.project.key item.key %}"
                  hx-target="#move-modal-content"
                  hx-swap="innerHTML"
                  @click="showMoveModal = true; document.activeElement.blur()">
            <i class="fa fa-arrows-alt"></i> {% translate "Move to..." %}
          </button>
        </li>
        <li>
          <button type="button"
                  hx-get="{% url 'sprints:issue_add_to_sprint' workspace.slug item.key %}"
                  hx-target="#add-to-sprint-modal-content"
                  hx-swap="innerHTML"
                  @click="showAddToSprintModal = true; document.activeElement.blur()">
            <i class="fa fa-bolt"></i> {% translate "Add to Sprint" %}
          </button>
        </li>
        <li>
          <button type="button" class="text-error"
                  hx-get="{% url 'issues:issue_delete' workspace.slug item.project.key item.key %}"
                  hx-target="#delete-modal-content"
                  hx-swap="innerHTML"
                  @click="showDeleteModal = true; document.activeElement.blur()">
            <i class="fa fa-trash"></i> {% translate "Delete" %}
          </button>
        </li>
      </ul>
    </div>
  </td>
</tr>
