{% load i18n %}
{% if is_paginated %}
  <div hx-target="#list-content" hx-indicator="#list-loading">
    <div class="flex flex-col items-center gap-2">
      <div class="join mt-4">
        <button class="join-item btn btn-square btn-sm"
          {% if page_obj.has_previous %}
            {% querystring page=page_obj.previous_page_number as previous_page %}
            hx-get="{{ previous_page }}"
            hx-push-url="true"
          {% else %}
            disabled
          {% endif %}
          >
          <span class="sr-only">Previous</span>
          <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
          </svg>
        </button>
      {% for num in elided_page_range %}
        {% querystring page=num as num_page %}
        <button class="join-item btn btn-square btn-sm {% if num == page_obj.number %}btn-active{% endif %}"
          {% if num != page_obj.number and num != page_obj.paginator.ELLIPSIS %}
            hx-get="{{ num_page }}" hx-push-url="true"
          {% elif num == page_obj.paginator.ELLIPSIS %}
            disabled
          {% endif %}
          >
          {{ num }}
        </button>
      {% endfor %}
        <button class="join-item btn btn-square btn-sm"
          {% if page_obj.has_next %}
            {% querystring page=page_obj.next_page_number as next_page %}
            hx-get="{{ next_page }}"
            hx-push-url="true"
          {% else %}
            disabled
          {% endif %}
          >
          <span class="sr-only">Next</span>
          <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
        </button>
      </div>
      <p class="text-xs text-base-content/60">
        {% blocktranslate trimmed count count=page_obj.paginator.count %}
          {{ count }} item
        {% plural %}
          {{ count }} items
        {% endblocktranslate %}
      </p>
    </div>
  </div>
{% endif %}
