<div class="modal" :class="{ 'modal-open': showQuickViewModal }"
     role="dialog"
     aria-modal="true"
     @keydown.escape="showQuickViewModal = false">
  <div class="modal-box max-w-2xl">
    <button type="button" class="btn btn-sm btn-ghost btn-square absolute right-2 top-2" @click="showQuickViewModal = false">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
    <div id="{{ embed_modal_content_id|default:'quick-view-modal-content' }}">
      <div class="flex items-center justify-center py-8">
        <span class="loading loading-spinner loading-md"></span>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" @click="showQuickViewModal = false"></div>
</div>
