DJANGO_DEBUG=1
DJANGO_DATABASE_URL=sqlite:///matorral.db
ENVIRONMENT=local
DJANGO_ADMIN_URL=admin/
DJANGO_SETTINGS_MODULE=config.settings
DJANGO_SECRET_KEY=CHANGEME
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
WATCHMAN_TOKEN=CHANGEME
CELERY_BROKER_URL=amqp://guest:guest@localhost:5672//matorral
SENTRY_ENABLED=False
SENTRY_DSN=http://example.com/123
DJANGO_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DJANGO_DEFAULT_FROM_EMAIL="matorral <noreply@localhost>"
DJANGO_EMAIL_SUBJECT_PREFIX="[matorral] "
DJANGO_SERVER_EMAIL="matorral <noreply@localhost>"
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True
USER_AGENT=matorral/0.1.0
CELERY_ALWAYS_EAGER=1
