{% extends 'workspaces/base.html' %}

{% block page_title %}Workspaces{% endblock %}

{% block table_head_content %}
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
{% endblock %}

{% block table_body_content %}
  {% for workspace in workspace_list %}
  <tr>
    <td>
        <strong>{{ workspace.name }}</strong><br/>
    </td>
    <td>
      <a class="button is-primary" href="{% url 'stories:story-list' workspace.slug %}">
        <span class="icon">
            <i class="fas fa-toggle-off"></i>
        </span><span>Switch</span>
      </a>
    </td>
  </tr>
  {% endfor %}
{% endblock %}
