{% extends 'base.html' %}

{% block object_list_url %}{% url 'workspaces:workspace-list' current_workspace %}{% endblock %}

{% block content %}
	<nav class="level">
    <form method="GET">
      <!-- Left side -->
      <div class="level-left">
        <nav class="breadcrumb is-large" aria-label="breadcrumbs">
          <ul>
            <li><a href="{% url 'workspaces:workspace-list' current_workspace %}">Workspaces</a></li>
            <li class="is-active">
              <a href="#" aria-current="page">
                {{ object.name }}
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </form>

    <form method="POST">
      {% csrf_token %}
      <!-- Right side -->
      <div class="level-right">
        <div class="level-item">
          <a href="{% url 'workspaces:workspace-edit' current_workspace workspace.id %}?next={{ encoded_url }}" class="button is-link">
            <span class="icon is-small">
              <i class="fas fa-edit"></i>
            </span>
            <small>Edit</small>
          </a>
        </div>

        <div class="level-item">
          <div class="field has-addons">
            <p class="control">
              <form method="POST">
                {% csrf_token %}
                <button class="button is-danger is-outlined" type="submit" name="remove" value="yes">
                  <span class="icon is-small">
                    <i class="fas fa-minus"></i>
                  </span>
                  <small>Remove</small>
                </button>
              </form>
            </p>
          </div>
        </div>
      </div>
    </form>
	</nav>

	<div class="card">
		<div class="card-content">
			<div class="media">
				<div class="media-content">
					<p class="title is-4">{{ workspace.name }}</p>
				</div>
			</div>

			<div class="content">
                {% if workspace.description %}
  				  {{ workspace.description|default:'' }}<br/><br/>
                {% endif %}
				<div class="field is-grouped is-grouped-multiline">
					<div class="control">
						<div class="tags has-addons">
							<span class="tag">Owner</span>
							<span class="tag is-primary">{{ workspace.owner }}</span>
						</div>
					</div>
				</div>
				<strong>Last Update:</strong> <time datetime="{{ workspace.updated_at }}">{{ workspace.updated_at }}</time>
			</div>
		</div>
	</div>

  <br/>
	<nav class="level">
    <form method="GET">
      <!-- Left side -->
      <div class="level-left">
        <nav class="breadcrumb is-large" aria-label="breadcrumbs" style="margin: 0;">
          <ul>
            <li class="is-active"><a href="#" aria-current="page">Members</a></li>
          </ul>
        </nav>
      </div>
    </form>

		<!-- Right side -->
		<div class="level-right">
			<div class="level-item bulk-action">
				<div class="field has-addons">
					<p class="control">
                        <button class="button is-danger is-outlined" type="submit" name="workspace-reset" value="yes" form="object-list">
                          <span class="icon is-small">
                            <i class="fas fa-minus"></i>
                          </span>
                          <small>Remove from Workspace</small>
						</button>
					</p>
				</div>
			</div>

			<div class="level-item">
				<div class="field has-addons">
					<p class="control">
                       <a class="button is-link" href="{% url 'stories:story-add' current_workspace %}?next={{ encoded_url }}&amp;workspace={{ workspace.id }}">
                          <span class="icon is-small">
                            <i class="fas fa-plus"></i>
                          </span>
                          <small>Invite New User</small>
						</a>
					</p>
				</div>
			</div>

      <div class="level-item">
        <div class="field has-addons">
            <p class="control">
                <a class="button is-link is-outlined" title="Add existing users to this workspace"
                   href="{% block object_add_url3 %}{% url 'stories:story-list' current_workspace %}{% endblock %}?to-workspace={{ workspace.id }}">
                  <span class="icon is-small">
                    <i class="fas fa-search"></i>
                  </span>
                  <small>Add Existing</small>
                </a>
            </p>
        </div>
     </div>

		</div>
	</nav>

  <form id="object-list" name="object-list" method="POST">
    {% csrf_token %}

    {% for group_title, object_list in objects_by_group %}
      {% if group_by %}
        <h3 class="subtitle">{{ group_title }}</h3>
      {% endif %}
      <table class="table is-bordered is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>
                <input type="checkbox" class="selectAll" />
            </th>
            <th><abbr title="Identification Number">ID</abbr></th>
            <th>username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          {% for user in object_list %}
          <tr>
            <td>
              <div class="field">
                <input type="checkbox" name="member-{{ user.id }}" />
              </div>
            </td>
            <td>#{{ user.id }}</td>
            <td>
              <strong>{{ user.username }}</strong><br/>
            </td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  </form>
{% endblock %}
