{% extends 'workspaces/base.html' %}

{% block page_title %}Workspaces :: {{ current_workspace }}{% endblock %}

{% block object_add_url %}{% url 'workspaces:workspace-add' current_workspace  %}{% endblock %}
{% block object_list_url %}{% url 'workspaces:workspace-list' current_workspace  %}{% endblock %}

{% block table_head_content %}
  <tr>
    <th>
      <input type="checkbox" class="selectAll" />
    </th>
    <th>Name</th>
    <th>Description</th>
    <th>Owner</th>
    <th>Updated</th>
    <th>Actions</th>
  </tr>
{% endblock %}

{% block table_body_content %}
  {% for workspace in object_list %}
  <tr>
    <td>
      <input type="checkbox" name="workspace-{{ workspace.id }}" />
    </td>
    <td>
      <a href="{% url 'workspaces:workspace-detail' current_workspace workspace.id %}">
        <strong>{{ workspace.name }}</strong><br/>
      </a>
    </td>
    <td>{{ workspace.description }}</td>
    <td>{{ workspace.owner }}</td>
    <td>{{ workspace.updated_at|default:'' }}</td>
    <td>
      {% if current_workspace == workspace.slug %}
      <a class="button is-primary is-outlined" href="#">
        Active Workspace
      </a>
      {% else %}
      <a class="button is-primary" href="{% url 'workspaces:workspace-list' workspace.slug %}">
        <span class="icon">
            <i class="fas fa-toggle-off"></i>
        </span><span>Switch!</span>
      </a>
      {% endif %}

      <a class="button is-link is-outlined" href="{% url 'workspaces:workspace-edit' current_workspace workspace.id %}?next={{ encoded_url }}" title="Edit">
        <span class="icon">
            <i class="fas fa-edit"></i>
        </span>
        <small>edit</small>
      </a>
    </td>
  </tr>
  {% endfor %}
{% endblock %}
