{% extends 'sprints/base.html' %}

{% block object_add_url %}{% url 'sprints:sprint-add' %}{% endblock %}
{% block object_list_url %}{% url 'sprints:sprint-list' %}{% endblock %}

{% block table_head_content %}
  <tr>
    <th><abbr title="Identification Number">ID</abbr></th>
    <th>Title</th>
    <th>State</th>
    <th>Starts</th>
    <th>Ends</th>
    <th><abbr title="Total Points">Pts</abbr></th>
    <th>Stories</th>
    <th>Progress</th>
    <th>Updated</th>
    <th>Actions</th>
  </tr>
{% endblock %}

{% block table_body_content %}
  {% for sprint in object_list %}
  <tr {% if sprint.is_done %}class="has-text-grey-dark"{% endif %}>
    <td>#{{ sprint.id }}</td>
    <td>
      <a href="{% url 'sprints:sprint-detail' sprint.id %}" {% if sprint.is_done %}class="has-text-grey-dark"{% endif %}>
        <strong>{{ sprint.title }}</strong><br/>
      </a>
    </td>
    <td>{{ sprint.get_state_display }}</td>
    <td>{{ sprint.starts_at|default:'' }}</td>
    <td>{{ sprint.ends_at|default:'' }}</td>
    <td>{{ sprint.total_points }}</td>
    <td>{{ sprint.story_count }}</td>
    <td>
      <progress class="progress is-success" value="{{ sprint.progress }}" max="100">{{ sprint.progress }}%</progress>
    </td>
    <td>{{ sprint.updated_at|default:'' }}</td>
    <td>
      <a class="button is-small is-link is-outlined" href="{% url 'sprints:sprint-edit' sprint.id %}" title="Edit">
				<span class="icon is-small">
					<i class="fas fa-edit"></i>
				</span>
				<small>edit</small>
      </a>
    </td>
  </tr>
  {% endfor %}
{% endblock %}
