{% extends 'base.html' %}

{% block object_list_url %}{% url 'sprints:sprint-list' %}{% endblock %}

{% block content %}
	<nav class="level">
		<!-- Left side -->
		<div class="level-left">
			<nav class="breadcrumb is-large" aria-label="breadcrumbs">
				<ul>
          <li><a href="{% url 'sprints:sprint-list' %}">sprints</a></li>
          <li class="is-active">
            <a href="#" aria-current="page">
              {% if object %}Editing {{ object.title }}{% else %}Create a Sprint{% endif %}
            </a>
          </li>
				</ul>
			</nav>
		</div>

		<!-- Right side -->
		<div class="level-right">
			<div class="level-item">
			</div>
		</div>
	</nav>

  {% if form.subject.errors %}
    <ol>
    {% for error in form.subject.errors %}
      <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
  {% endif %}
  <form method="post">{% csrf_token %}
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}
    {% for field in form.visible_fields %}
        <div class="field">
          {{ field.errors }}
          <label class="label">{{ field.label_tag }}</label>
          <div class="control">
            {{ field }}
          </div>
          {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
          {% endif %}
        </div>
    {% endfor %}
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" type="submit">Save Changes</button>
      </div>
      <div class="control">
        <a class="button is-text" href="{% url 'sprints:sprint-list' %}">Cancel</a>
      </div>
    </div>
  </form>
{% endblock %}
