{% extends 'sprints/base.html' %}

{% block object_add_url %}{% url 'sprints:sprint-add' %}{% endblock %}
{% block object_list_url %}{% url 'sprints:sprint-list' %}{% endblock %}

{% block table_head_content %}
  <tr>
    <th><abbr title="Identification Number">ID</abbr></th>
    <th>Title</th>
    <th>State</th>
    <th>Starts</th>
    <th>Ends</th>
    <th>Updated</th>
  </tr>
{% endblock %}

{% block table_body_content %}
  {% for sprint in object_list %}
  <tr {% if sprint.is_done %}class="has-text-success"{% endif %}>
    <td>#{{ sprint.id }}</td>
    <td>
      <a href="{% url 'sprints:sprint-edit' sprint.id %}" {% if sprint.is_done %}class="has-text-success"{% endif %}>
        <strong>{{ sprint.title }}</strong><br/>
      </a>
    </td>
    <td>{{ sprint.get_state_display }}</td>
    <td>{{ sprint.starts_at|default:'' }}</td>
    <td>{{ sprint.ends_at|default:'' }}</td>
    <td>{{ sprint.updated_at|default:'' }}</td>
  </tr>
  {% endfor %}
{% endblock %}
