{% load static django_vite %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
        {% block meta_base %}
            <title>{% block page_title_full %}{% if page_title %}{{ page_title }} | {% endif %}{{ site.name }}{% endblock %}</title>
            <meta name="description" content="{% if page_description %}{{ page_description }}{% else %}{{ site_description }}{% endif %}">
            <meta name="keywords" content="{% if page_keywords %}{{ page_keywords }}{% else %}{{ site_keywords }}{% endif %}">
            <link rel="canonical" href="{% if page_canonical_url %}{{ page_canonical_url }}{% else %}{{ page_url }}{% endif %}">

            <!-- Open Graph -->
            <meta property="og:title" content="{% if page_title %}{{ page_title }} | {% endif %}{{ site.name }}">
            <meta property="og:description" content="{% if page_description %}{{ page_description }}{% else %}{{ site_description }}{% endif %}">
            <meta property="og:url" content="{% if page_canonical_url %}{{ page_canonical_url }}{% else %}{{ page_url }}{% endif %}">
            <meta property="og:type" content="{% if og_type %}{{ og_type }}{% else %}website{% endif %}">
            <meta property="og:site_name" content="{{ site.name }}">
            {% if og_image %}
            <meta property="og:image" content="{{ og_image }}">
            {% endif %}

            <!-- Twitter Cards -->
            <meta name="twitter:card" content="{% if twitter_card %}{{ twitter_card }}{% else %}summary_large_image{% endif %}">
            <meta name="twitter:title" content="{% if page_title %}{{ page_title }} | {% endif %}{{ site.name }}">
            <meta name="twitter:description" content="{% if page_description %}{{ page_description }}{% else %}{{ site_description }}{% endif %}">
            {% if og_image %}
            <meta name="twitter:image" content="{{ og_image }}">
            {% endif %}
        {% endblock meta_base %}
    {% endblock meta %}
    {% include 'includes/favicon.html' %}
    <link rel="stylesheet" href="{% vite_asset_url 'assets/css/site-base.css' %}">
    <link rel="stylesheet" href="{% vite_asset_url 'assets/css/site-tailwind.css' %}">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/v4-shims.min.css" integrity="sha512-7LGn7K+dj+CdmuqnrbIF/57brSK+L1DGyHMgby+dTT5n3Y6Bgmy/MmwHdaFRgLfLr6vwBA2yHplAutXldP8qAQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% if GOOGLE_ANALYTICS_ID %}
        {% include 'includes/google_analytics.html' %}
    {% endif %}
    {% vite_asset 'assets/js/site.js' %}
    {% vite_hmr_client %}
    <script src="{% url 'javascript-catalog' %}" defer></script>
    {% block page_head %}
    {% endblock %}
</head>
<body class="bg-base-100" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  {% block body_wrapper %}
    {% block top_nav %}
    {% endblock %}

    {% block messages %}
    <div id="messages" class="toast toast-end toast-bottom z-50">
      {% include 'includes/messages.html' %}
    </div>
    {% endblock messages %}

    {% block body %}
    {% endblock body %}

    {% block footer %}
      {% include 'includes/footer.html' %}
    {% endblock footer %}
  {% endblock body_wrapper %}
  {% block page_js %}
  {% endblock page_js %}
</body>
</html>
