DJANGO_DATABASE_URL=sqlite:///matorral.db

DJANGO_ADMIN_URL=admin/

DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=<SECRET-KEY>
DJANGO_ALLOWED_HOSTS=127.0.0.1,.matorral-tool.herokuapp.com
DJANGO_SERVER_EMAIL=
DJANGO_ACCOUNT_ALLOW_REGISTRATION=False

LECTER_ENABLED=1
LECTER_HOST=staging-clarice1.streemalabs.com,
LECTER_PORT=80
LECTER_SOURCE=matorral:matagus

WATCHMAN_TOKEN=<WATCHMAN-TOKEN>

CELERY_BROKER_URL=amqp://guest:guest@localhost:5672//matorral


# Production only settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=matorral

GUNICORN_WORKERS=2
GUNICORN_BACKLOG=512
GUNICORN_MAX_REQUESTS=100
GUNICORN_MAX_JITTER=10
GUNICORN_THREADS=1
GUNICORN_LOG_LEVEL=INFO
GUNICORN_WORKER_CLASS=tornado

SENTRY_ENABLED=False
SENTRY_ENVIRONMENT=staging
SENTRY_DSN=http://example.com/123

CHANNEL_LAYERS_DEFAULT_URL=localhost:6379
