{% extends "base.html" %}

{% block content %}
  <nav class="level">
    {% include "listview-left.html" %}

    <!-- Right side -->
    <div class="level-right">
      <div class="level-item">
        <label>Set</label>&nbsp;
        <div class="field">
          <div class="control">
            <div class="select is-success">
              <select onchange="document.querySelector('#object-list').submit();" form="object-list">
                <option>Owner to</option>
                <option>None</option>
                <option>matagus</option>
                <option>jeronimoalbi</option>
                <option>demo</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="level-item">
        <label>Set</label>&nbsp;
        <div class="field">
          <div class="control">
            <div class="select is-success">
              <select onchange="document.querySelector('#object-list').submit();" form="object-list">
                <option>State to</option>
                <option>None</option>
                <option>In Progress</option>
                <option>To Do</option>
                <option>Done</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="level-item">
        &nbsp;
      </div>

      <div class="level-item">
        <div class="field has-addons">
          <p class="control">
            <button class="button is-success is-outlined" form="object-list" type="submit">
              <span class="icon is-small">
                <i class="fas fa-copy"></i>
              </span>
              <small>Duplicate</small>
            </button>
          </p>
        </div>
      </div>

      <div class="level-item">
        <div class="field has-addons">
          <p class="control">
            <button class="button is-danger is-outlined" form="object-list" type="submit">
              <span class="icon is-small">
                <i class="fas fa-minus"></i>
              </span>
              <small>Remove</small>
            </button>
          </p>
        </div>
      </div>

      <div class="level-item">
        <div class="field has-addons">
          <p class="control">
            <a class="button is-success" href="{% block object_add_url %}{% endblock %}?next={{ encoded_url }}">
              <span class="icon is-small">
                <i class="fas fa-plus"></i>
              </span>
              <small>Create</small>
            </a>
          </p>
        </div>
      </div>
    </div>
  </nav>

  <form method="POST" name="object-list" id="object-list">
    {% csrf_token %}
    <input type="hidden" value="{{ page }}" name="page" />
    <table class="table is-bordered is-striped is-hoverable is-fullwidth">
      <thead>
        {% block table_head_content %}
        {% endblock %}
      </thead>
      <tbody>
        {% block table_body_content %}
        {% endblock %}
      </tbody>
    </table>
  </form>
  <br/>
  {% include "paginator.html" %}
{% endblock %}
