{% extends 'stories/base.html' %}

{% block object_add_url %}{% url 'stories:epic-add' %}{% endblock %}
{% block object_list_url %}{% url 'stories:epic-list' %}{% endblock %}

{% block table_head_content %}
  <tr>
    <th></th>
    <th><abbr title="Identification Number">ID</abbr></th>
    <th>Title</th>
    <th>State</th>
    <th>Priority</th>
    <th><abbr title="Total Points">Pts</abbr></th>
    <th>Stories</th>
    <th>Progress</th>
    <th>Owner</th>
    <th>Actions</th>
  </tr>
{% endblock %}

{% block table_body_content %}
  {% for epic in object_list %}
  <tr {% if epic.is_done %}class="has-text-grey-dark"{% endif %}>
    <td>
      <input type="checkbox" name="epic-{{ epic.id }}" />
    </td>
    <td>#{{ epic.id }}</td>
    <td>
      <a href="{% url 'stories:epic-detail' epic.id %}" {% if epic.is_done %}class="has-text-grey-dark"{% endif %}>
        <strong>{{ epic.title }}</strong><br/>
      </a>
      {% for tag in epic.tags.all %}
      <span class="tag is-light">{{ tag.name }}</span>
      {% endfor %}
    </td>
    <td>{{ epic.state }}</td>
    <td>{{ epic.priority }}</td>
    <td>{{ epic.total_points }}</td>
    <td>{{ epic.story_count }}</td>
    <td>
      <progress class="progress is-success" value="{{ epic.progress }}" max="100">{{ epic.progress }}%</progress>
    </td>
    <td>{{ epic.owner.username }}</td>
    <td>
      <a class="button is-small is-link is-outlined" href="{% url 'stories:epic-edit' epic.id %}?next={{ encoded_url }}" title="Edit">
				<span class="icon is-small">
					<i class="fas fa-edit"></i>
				</span>
				<small>edit</small>
      </a>
    </td>
  </tr>
  {% endfor %}
{% endblock %}
