{% extends 'stories/base.html' %}

{% block object_add_url %}{% url 'stories:story-add' %}{% endblock %}
{% block object_list_url %}{% url 'stories:story-list' %}{% endblock %}

{% block table_head_content %}
  <tr>
    <th></th>
    <th><abbr title="Identification Number">ID</abbr></th>
    <th>Title</th>
    <th>Epic</th>
    <th>State</th>
    <th>Priority</th>
    <th><abbr title="Points">Pts</abbr></th>
    <th>Owner</th>
    <th>Assignee</th>
    <th>Actions</th>
  </tr>
{% endblock %}

{% block table_body_content %}
  {% for story in object_list %}
  <tr {% if story.is_done %}class="has-text-grey-dark"{% endif %}>
    <td>
      <input type="checkbox" name="story-{{ story.id }}" />
    </td>
    <td>#{{ story.id }}</td>
    <td>
      <a href="{% url 'stories:story-edit' story.id %}?next={{ encoded_url }}" {% if story.is_done %}class="has-text-grey-dark"{% endif %}>
        <strong>{{ story.title }}</strong><br/>
      </a>
      {% for tag in story.tags.all %}
      <span class="tag is-light">{{ tag.name }}</span>
      {% endfor %}
    </td>
    <td>
      {% if story.epic %}
      <a href="{% url 'stories:epic-detail' story.epic.id %}" {% if story.is_done %}class="has-text-grey-dark"{% endif %}>
        {{ story.epic.title }}
      </a>
      {% endif %}
    </td>
    <td>{{ story.state }}</td>
    <td>{{ story.priority }}</td>
    <td>{{ story.points }}</td>
    <td>{{ story.owner.username }}</td>
    <td>{{ story.assignee.username }}</td>
    <td>
      <a class="button is-small is-link is-outlined" href="{% url 'stories:story-edit' story.id %}?next={{ encoded_url }}" title="Edit">
				<span class="icon is-small">
					<i class="fas fa-edit"></i>
				</span>
				<small>edit</small>
      </a>
    </td>
  </tr>
  {% endfor %}
{% endblock %}
