{% extends 'base.html' %}

{% block title %}{{ current_site.name }} - Login{% endblock %}

{% block content %}
  <div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter">
      <h2 class="title">Welcome to {{ current_site.name }}</h2>

      {% if form.subject.errors %}
        <ol>
        {% for error in form.subject.errors %}
          <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
        </ol>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            <div class="field">
              {{ field.errors }}
              <label class="label">{{ field.label_tag }}</label>
              <div class="control">
                {{ field }}
              </div>
              {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
              {% endif %}
            </div>
        {% endfor %}
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-success is-medium" type="submit">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
