{% load i18n %}
{% load forms_tags %}
<div class="mt-columns">
  <div class="mt-column">
    <h2 class="mt-subtitle">{% translate "Profile Details" %}</h2>
    <form method="post">
      {% csrf_token %}
      {% render_field form.email %}
      {% if user.emailaddress_set.count > 1 %}
        <div class="mt-help"><a href="{% url "account_email" %}" class="link">{%  translate "Manage email addresses" %}</a></div>
      {% endif %}
      {% render_field form.first_name %}
      {% render_field form.last_name %}
      {% if form.fields.language.choices %}
        {% render_field form.language %}
      {% endif %}
      {% render_field form.timezone %}
      <div class="mt-2">
        <input class="mt-button-primary" type="submit" value="{% translate "Save" %}">
      </div>
    </form>
  </div>
  <div id="profile-picture" class="mt-column-one-quarter">
    <div class="mt-text-centered">
      <img class="avatar" src="{{ user.avatar_url }}">
      <div id='profile-upload-holder'>
        <label for="profile-upload" >
          <a id="profile-upload-label" class="mt-button-light">
            {% translate "Modify Avatar" %}
          </a>
        </label>
        <input id="profile-upload" type="file" accept="image/*"/>
      </div>
    </div>
  </div>
</div>
